@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome</h1>
            <a href="#" class="btn btn-primary btn-lg">Get Started</a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Feature 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-info">Learn More</a>
            </div>
            <div class="col-md-4">
                <h2>Feature 2</h2>
                <p>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                <a href="#" class="btn btn-info">Learn More</a>
            </div>
            <div class="col-md-4">
                <h2>Feature 3</h2>
                <p>Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
                <a href="#" class="btn btn-info">Learn More</a>
            </div>
        </div>
    </div>
</body>
</html>
